// Card stylesheet

.orderCard {
    width: 85%;
    text-align: center;
    background: white;
    max-height: 700px;
    max-width: 28.125rem;

    .cardHeader {
        max-height: 220px;
        width: 100%;
    }

    .contentArea {
        width: 80%;
        margin: 30px auto;

        .cardPlan {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $nu-very-pale-blue;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 40px;

            .planDetails {
                margin-left: -8.125rem;
            }

            > a {
                font-size: 0.85rem;
                color: blue;
                text-decoration: underline;
                font-weight: $fw-bold;
            }
        }

        .btnPay {
            background-color: $pm-bright-blue;
            padding: 15px 10px;
            border-radius: 10px;
            font-weight: $fw-bold;
            margin-bottom: 25px;
            box-shadow: 0px 10px 40px 1px rgba(56,41,224,0.29);
            -webkit-box-shadow: 0px 10px 40px 1px rgba(56,41,224,0.29);
            -moz-box-shadow: 0px 10px 40px 1px rgba(56,41,224,0.29);

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }

            > a {
                color: $nu-very-pale-blue;
                font-size: 0.9rem;
            }

        }

        .btnCancel {
            font-weight: $fw-bold;

            > a {
                font-size: 0.9rem;
                color: $nu-desaturated-blue;
            }
            
        }
    }

}