// Global stylesheet

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    box-sizing: inherit;
    background: $nu-very-pale-blue;
    background-image: url("/images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    font-family: $font-family;

    @media screen and (min-width: 23.5rem) {
        background-image: url("/images/pattern-background-desktop.svg");
        background-size: contain;
    }
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-weight: $fw-black;
    font-size: 28px;
    letter-spacing: 0.02em;
}

p {
    font-size: 1rem;
    font-weight: $fw-medium;
    line-height: 1.5;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#icon {
    height: 3rem !important;
    width: 3rem !important;
    margin-right: 20px;
}

.br {
    border-radius: 20px;

    &-top {
        border-radius: 20px 20px 0 0;
    }

    &-plan {
        border-radius: 10px;
    }

    &-btn {
        border-radius: 10px;
    }
}